button {
    display: block;
    margin-top: 2rem;
    width: calc(44px * var(--ratio));
    height: 44px;
    border-radius: calc(3px * var(--ratio));
    border: none;
    letter-spacing: ccalc(3 * var(--leading, 0.025em));
    font-family: inherit;
    color: var(--grey-color);
    background-color: peachpuff;
    font-size: large;
    font-weight: 700;
    border: solid rgb(248, 128, 128);
}
button:focus {
outline: none;
border: 0.0625rem solid transparent;
box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
}

button.cta {
background-color: var(--cta-color);
color: white;
}

button.cta:focus {
box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--cta-color);
}

#open_dialog {
margin: 0 auto;
}

dialog {
border: none !important;
border-radius: calc(5px * var(--ratio));
box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
padding: 1.6rem;
max-width: 400px;
}

dialog img {
display: block;
max-width: 75%;
margin: 1rem 0 auto 2rem;
}

dialog::backdrop {
backdrop-filter: blur(4px);
}

.h1 {
margin: 2rem 0 1rem;
font-weight: 900;
}

.h2 {
margin: 2rem 0 1rem;
font-weight: 800;
}

p {
color: var(--grey-color);
letter-spacing: var(--leading, 0.025em);
line-height: 1.625;
}

.flex {
display: flex;
flex-wrap: wrap;
}

.flex.flex-space-between {
margin: 20px;
}

.flex button {
margin: 8px auto;
}